@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import "tailwindcss";
@plugin "daisyui";
@custom-variant dark (&:where(.dark, .dark *));
body{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}
:root {
    --primary-color: #62beff;
    --secondary-color: #ffffff;
    -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  }

  .slick-prev:before, .slick-next:before {
    color: #62beff !important;
}

.slick-dots li.slick-active button:before {
  opacity: .75;
  color: #62beff !important;
  font-size: 8px;
}

.dark .slick-dots li.slick-active button:before {
  opacity: .75;
  color: #62beff !important;
  font-size: 8px;
}

.dark .slick-dots li button:before {
  color: #d5e1e9 !important;
}
.slick-dots li {
 
  margin: 0 !important; 
}

.slick-next {
  right: -12px !important;
}

.slick-prev {
  left: -12px !important;
}

.slick-dots {
  margin-bottom: 10px !important;
}

.footer {
  gap: 1.5rem 1rem !important;
}

li{
  list-style: none;
}
button{
background: #62beff;
color: white;
padding: 6px 8px;
border-radius: 5px;
cursor: pointer;
transition: background-color 0.3s ease, transform 0.3s ease;
  }

  button:hover{
    transform: scale(1.05);
  }
