@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import "tailwindcss";
@plugin "daisyui";
@custom-variant dark (&:where(.dark, .dark *));
body{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}
:root {
    --primary-color: #62beff;
    --secondary-color: #ffffff;
    -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  }

  .slick-prev:before, .slick-next:before {
    color: #62beff !important;
}

li{
  list-style: none;
}
button{
background: #62beff;
color: white;
padding: 6px 8px;
border-radius: 5px;
cursor: pointer;
transition: background-color 0.3s ease, transform 0.3s ease;
  }

  button:hover{
    transform: scale(1.05);
  }
